@import "../../../styles/variable.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 88px;
  align-items: center;
  padding: 0 160px;
  z-index: 10;
  background-color: #141416;
  .left {
    .pageName {
      padding-left: 140px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #e6e7f0;
    }
  }
  .right {
    .accountWrp {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      box-sizing: border-box;
      border-radius: 30px;
      background-color: #1d1f26;
      .account {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        border-radius: 21px;
        margin-right: 10px;
        cursor: pointer;
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.02em;
          color: #e9edf7;
        }
      }
      .img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }
  }
}
