@import "../../styles/variable.scss";

.profileBody {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .edit {
    width: 487px;
    .bar {
      width: 100%;
      height: 56px;
      line-height: 56px;
      font-weight: 500;
      font-size: 16px;
      color: $white0;
      padding: 0 26px;
      background: url(../../public/images/text-bg.png) no-repeat center;
      background-size: 100% 100%;
      margin: 24px 0;
    }
    .fromWrp {
      width: 100%;
      background: $black2;
      border: 1px solid rgba(53, 57, 69, 0.5);
      border-radius: 20px;
      padding: 40px 72px;
      .item {
        width: 100%;
        margin-bottom: 40px;
        .label {
          font-weight: 700;
          font-size: 12px;
          line-height: 12px;
          text-transform: uppercase;
          color: #b1b5c4;
          margin-bottom: 12px;
        }
        .errTip {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.084px;
            color: #ff6838;
          }
        }
        .tagList {
          display: flex;
          flex-wrap: wrap;
          .tag {
            display: inline-block;
            box-sizing: border-box;
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 90px;
            border: 2px solid #353945;
            height: 32px;
            margin-right: 16px;
            cursor: pointer;
            &.tagActive {
              border: 2px solid #3772ff;
              background: #3772ff;
            }
            p {
              font-weight: 700;
              font-size: 14px;
              line-height: 16px;
              text-align: center;
              color: #fcfcfd;
            }
          }
        }
        .switch {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .left {
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
            color: #b1b5c4;
          }
        }
      }
      .btn {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
  .show {
    width: 487px;
    background: $black2;
    border: 1px solid rgba(53, 57, 69, 0.5);
    border-radius: 20px;
    padding: 40px 72px;
    margin-top: 24px;
    .item {
      width: 100%;
      margin-bottom: 40px;
      .label {
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        color: #b1b5c4;
        margin-bottom: 12px;
      }
      .age {
        width: 100%;
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
        background: #1d1f26;
        border-radius: 12px;
        font-weight: 700;
        font-size: 14px;
        color: #777e90;
      }
      .tagList {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        .tag {
          display: inline-block;
          box-sizing: border-box;
          padding: 0 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 90px;
          height: 32px;
          margin-right: 16px;
          background-color: #23262f;
          p {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #777e90;
          }
        }
      }
      .swith {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #777e90;
      }
    }
    .editPro {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      .eLabel {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $blue0;
        margin-left: 4px;
      }
    }
  }
}


