@import "../../styles/variable.scss";
.homeBody {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  position: relative;
  padding-left: 160px;
  .clude {
    position: fixed;
    top: 6.9vh;
    left: 19.2vw;
  }
  .wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    .left {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 12px;
        div {
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          text-transform: uppercase;
          color: #777e91;
        }
      }
      .slogan {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        div {
          font-weight: 700;
          font-size: 64px;
          line-height: 64px;
          letter-spacing: -0.02em;
          color: #fcfcfd;
        }
      }
      .dec {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #777e91;
        margin-bottom: 32px;
      }
      .btn {
        display: flex;
        height: 66px;
        border-radius: 98px;
        border: 2px solid #353945;
        justify-content: space-between;
        align-items: center;
        padding: 0 27px;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
        p {
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          color: $white1;
          margin-left: 8px;
        }
      }
    }
    .right {
      width: 376px;
      height: 376px;
    }
  }
}

.modalBody {
  .modalBodytitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white1;
    margin-bottom: 24px;
  }
  .modalBodySelect {
    width: 343px;
    margin-bottom: 72px;
  }
}

@keyframes cludeMove {
  0% {
    top: 0;
    right: -28px;
  }
  50% {
    top: 20px;
    right: -18px;
  }
  100% {
    top: 0;
    right: -28px;
  }
}
