@import "../../../styles/variable.scss";

.modalBody {
  .modalBodytitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white1;
    margin-bottom: 24px;
  }
  .modalBodySelect {
    width: 343px;
    margin-bottom: 72px;
  }
}